# -----------------------------------
# DirectPass
# -----------------------------------
.tmp
sync.sh
dist
app/bower_components

# -----------------------------------
# dropbox / System
# -----------------------------------
.dropbox
Icon?
.DS_Store
Thumbs.db

# -----------------------------------
# npm
# -----------------------------------
npm-debug.log
node_modules
*.swp


# -----------------------------------
# Bower
# -----------------------------------
app/components


# -----------------------------------
# report
# -----------------------------------
platoReport

# -----------------------------------
# jsDoc
# -----------------------------------
jsdoc
